In [4]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('D:/dataset_python_datascince/AB_NYC_2019.csv')

NameError: name 'pd' is not defined

In [3]:
df.head(5)

NameError: name 'df' is not defined

In [9]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [19]:
df.price.quantile(0.1)

49.0

In [51]:
percentile_99=df.price.quantile(0.999)
percentile_1=df.price.quantile(0.01)

In [52]:
df_no_out1= df[df.price<=percentile_99]

In [53]:
df_no_out1.price.describe()

count    48850.00000
mean       147.58436
std        157.48837
min          0.00000
25%         69.00000
50%        105.00000
75%        175.00000
max       3000.00000
Name: price, dtype: float64

In [54]:
df_no_out=df_no_out1[df_no_out1.price>=percentile_1]

In [55]:
df_no_out.price.describe()

count    48446.000000
mean       148.617698
std        157.733917
min         30.000000
25%         70.000000
50%        109.000000
75%        177.000000
max       3000.000000
Name: price, dtype: float64

In [56]:
null_values=pd.isnull(df_no_out["price"])

In [57]:
df_no_out[null_values]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [ ]:

min_thresold, max_thresold = df.price.quantile([0.01,0.999])
min_thresold, max_thresold

In [58]:
df2 = df[(df.price>min_thresold)&(df.price<max_thresold)]
df2.shape

NameError: name 'min_thresold' is not defined

In [1]:

min_thresold, max_thresold = df.price.quantile([0.01,0.999])
min_thresold, max_thresold

NameError: name 'df' is not defined