In [1]:
import pandas as pd

In [2]:
wd=pd.read_csv('C:/Users/HP/geopython2020/things to practice/data cleaning/data/weather.csv')

In [3]:
wd.head()

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain

In [4]:

weather_data={'day':['1/1/2017' ,'1/2/2017','1/3/2017','1/4/2017','1/5/2017'],
    'temprature':[32,35,28,24,32],
        'windspeed':[6,7,2,7,4],
            'event':['Rain','Sunny','Snow','Snow','Rain']}

In [5]:
df=pd.DataFrame(weather_data)

In [6]:
df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain

In [7]:
df.shape

(5, 4)

In [8]:
df[2:5]

        day  temprature  windspeed event
2  1/3/2017          28          2  Snow
3  1/4/2017          24          7  Snow
4  1/5/2017          32          4  Rain

In [9]:
df[:]

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain

In [10]:
df.columns

Index(['day', 'temprature', 'windspeed', 'event'], dtype='object')

In [11]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
Name: day, dtype: object

In [12]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
Name: event, dtype: object

In [13]:
df.dtypes

day           object
temprature     int64
windspeed      int64
event         object
dtype: object

In [14]:
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain

In [15]:
type(df.event)

pandas.core.series.Series

In [16]:
df.temprature.max()

35

In [17]:
df.temprature.min()

24

In [18]:
df.describe()

       temprature  windspeed
count    5.000000   5.000000
mean    30.200000   5.200000
std      4.266146   2.167948
min     24.000000   2.000000
25%     28.000000   4.000000
50%     32.000000   6.000000
75%     32.000000   7.000000
max     35.000000   7.000000

In [19]:
df[df.temprature>=32]

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
4  1/5/2017          32          4   Rain

In [20]:
df[df.temprature==df.temprature.max()]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny

In [21]:
df['day'][df.temprature==df.temprature.max()]

1    1/2/2017
Name: day, dtype: object

In [22]:
df[['day','temprature']][df.temprature==df.temprature.max()]

        day  temprature
1  1/2/2017          35

In [23]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
df.set_index('day',inplace=True)

In [25]:
df

          temprature  windspeed  event
day
1/1/2017          32          6   Rain
1/2/2017          35          7  Sunny
1/3/2017          28          2   Snow
1/4/2017          24          7   Snow
1/5/2017          32          4   Rain

In [26]:
df.loc['1/3/2017']

temprature      28
windspeed        2
event         Snow
Name: 1/3/2017, dtype: object

In [27]:
#df.reset_index(inplace=True)

In [28]:
# another way of reading excel files is 
df=pd.read_excel('weather.xlsx','Sheet1')

          temprature  windspeed  event
day
1/1/2017          32          6   Rain
1/2/2017          35          7  Sunny
1/3/2017          28          2   Snow
1/4/2017          24          7   Snow
1/5/2017          32          4   Rain

In [36]:
#another way of making dataframe is by making tuples
weather_data=[('1/1/2017',32,6,'Rain'),('1/2/2017',35,7,'Sunny'),('1/3/2017',28,2,'Snow')]

In [37]:
df_ex=pd.DataFrame(weather_data,columns=['day','temprature','windspeed','event'])
df_ex

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow