In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('wmt.csv')
df.head()

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [14]:
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

In [7]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [8]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [9]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [15]:
m=pd.Period('2016-02',freq='M')

In [16]:
m

Period('2016-02', 'M')

In [17]:
m+1

Period('2016-03', 'M')

In [21]:
d=pd.Period('2016-02-15',freq='D')

In [22]:
d

Period('2016-02-15', 'D')

In [23]:
d+1

Period('2016-02-16', 'D')

In [24]:
q=pd.Period('2020',freq='Q')

In [25]:
q

Period('2020Q1', 'Q-DEC')

In [26]:
ind=pd.period_range('2011','2017',freq='Q')

In [27]:
ind

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [28]:
import numpy as np

In [30]:
ps=pd.Series(np.random.randn(len(ind)),ind)
ps

2011Q1   -0.935052
2011Q2   -0.483284
2011Q3    0.664839
2011Q4   -0.049767
2012Q1    0.481372
2012Q2    0.929871
2012Q3   -0.763644
2012Q4   -1.303004
2013Q1    0.168290
2013Q2   -0.243805
2013Q3   -0.874909
2013Q4   -0.472171
2014Q1   -1.603227
2014Q2   -0.035438
2014Q3   -0.323400
2014Q4    0.670002
2015Q1    0.253662
2015Q2   -0.209046
2015Q3    1.053572
2015Q4    0.948188
2016Q1   -0.979480
2016Q2    1.348225
2016Q3   -1.428562
2016Q4    1.224518
2017Q1    0.276292
Freq: Q-DEC, dtype: float64

In [32]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [33]:
ps['2011']

2011Q1   -0.935052
2011Q2   -0.483284
2011Q3    0.664839
2011Q4   -0.049767
Freq: Q-DEC, dtype: float64

In [34]:
pst=ps.to_timestamp()
pst

2011-01-01   -0.935052
2011-04-01   -0.483284
2011-07-01    0.664839
2011-10-01   -0.049767
2012-01-01    0.481372
2012-04-01    0.929871
2012-07-01   -0.763644
2012-10-01   -1.303004
2013-01-01    0.168290
2013-04-01   -0.243805
2013-07-01   -0.874909
2013-10-01   -0.472171
2014-01-01   -1.603227
2014-04-01   -0.035438
2014-07-01   -0.323400
2014-10-01    0.670002
2015-01-01    0.253662
2015-04-01   -0.209046
2015-07-01    1.053572
2015-10-01    0.948188
2016-01-01   -0.979480
2016-04-01    1.348225
2016-07-01   -1.428562
2016-10-01    1.224518
2017-01-01    0.276292
Freq: QS-OCT, dtype: float64

In [35]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [36]:
pst.to_period

<bound method Series.to_period of 2011-01-01   -0.935052
2011-04-01   -0.483284
2011-07-01    0.664839
2011-10-01   -0.049767
2012-01-01    0.481372
2012-04-01    0.929871
2012-07-01   -0.763644
2012-10-01   -1.303004
2013-01-01    0.168290
2013-04-01   -0.243805
2013-07-01   -0.874909
2013-10-01   -0.472171
2014-01-01   -1.603227
2014-04-01   -0.035438
2014-07-01   -0.323400
2014-10-01    0.670002
2015-01-01    0.253662
2015-04-01   -0.209046
2015-07-01    1.053572
2015-10-01    0.948188
2016-01-01   -0.979480
2016-04-01    1.348225
2016-07-01   -1.428562
2016-10-01    1.224518
2017-01-01    0.276292
Freq: QS-OCT, dtype: float64>

In [41]:
df=pd.read_csv('wmt.csv')
df.head()

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [42]:
#transpose table
df.set_index('Line Item',inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [43]:
df=df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [44]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [46]:
df.index=pd.PeriodIndex(df.index,freq='Q-JAN')

In [48]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [51]:
df['start_date']=df.index.map(lambda x:x.start_time)
df

Line Item  Revenue  Expenses  Profit start_date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [52]:
df['end_date']=df.index.map(lambda x:x.end_time)
df

Line Item  Revenue  Expenses  Profit start_date                      end_date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999